.panelBox(@position:left,@width:550px) {
    height: 100%;
    width: @width;
    float: @position;
}

.panel(@height:296px) {
    height: @height;
    display: flex;
    flex-direction: column;
    background: rgba(2, 15, 43, 0.7);
    .panel-top{
        height: 24px;
        padding-top: 18px;
        padding-right: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4{
            font-size: 24px;
            color: #fff;
            display: flex;
            &::before{
                content: '';
                width: 4px;
                height: 24px;
                margin-right: 20px;
                display: inline-block;
                background: #4F9EFD;
            }

        }
    }
    .panel-body{
        padding: 18px 20px;
        height: 100px;
        flex: 1;
    }
}
